/********* estilo para receta de tortilla  de patatas****/

body{background-image: url(../imagenes/fondo.jpg);
    background-size: cover;}

#container{background-color:#85cacad8;
            width:80%;
            margin: auto;
            box-sizing: border-box;/*cualquier padding se toma dentro del tamaño especificado, no se amplia el ancho*/
            padding:40px;
            color:#F8A95A;
            border: 4px solid #F8A95A;
            }
h1 {text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}