/********* estilo para receta de tortilla  de patatas****/

body{background-image: url(../imagenes/fondo.jpg);
    background-size: cover;}

#container{background-color:#9e92b9f5;
            width:80%;
            margin: auto;
            box-sizing: border-box;/*cualquier padding se toma dentro del tamaño especificado, no se amplia el ancho*/
            padding:40px;
            color:#D3DA72;
            box-shadow: 20px 20px 10px#D3DA72;
            }
h1 {text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h1,h2,dt {text-decoration: underline;}

ul,ol,dt,dd {font-weight: bold;}

dt{text-transform: uppercase;
    margin:10px;
    }

#tortilla{width:40%;
            float: right;}

/*******ESTILO TAbLA******/
table{border:2px solid #D3DA72;
        border-collapse: collapse;}

td,th{border:2px solid #D3DA72;
    width:10vw;
    text-align: center;
    padding: 5px;}

#recreo{letter-spacing: 40px;}
/**********CAMBIOS DE TAMAÑO PANTALLA**********/

@media only screen and (max-width:600px){#tortilla{width:100%}}

/*@media only screen and(max-width:1000px){dt,dd{font-size: 1.5em;}}*/